
@{
    ViewData["Title"] = "Index";
}


<h1>Permisos del usuario : </h1>
        <!--caaard-->
        <!-- Card -->
<div class="card testimonial-card">

    <!-- Background color -->

    <div class="card-header" style="background-color:darkblue">
        <h3></h3>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-5">
                <div class=" tiles white col-md-12 no-padding" style="">                    
                    <div class="tiles white">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="user-profile-pic">
                                    <img width="69" height="69" data-src-retina="../img/logo.png" data-src="../img/logo.png" src="../img/logo.png" alt="">
                                </div>
                                <br><br>
                            </div>
                            <div class="col-md-8 user-description-box  col-sm-5">
                                <h4 class="semi-bold no-margin" id="NomUsuario"> Nombre</h4>
                                <h6 class="no-margin" id="PuestoUsu"> Puesto</h6>
                                <br>
                                <p id="DepUsuario"><i class="fa fa-briefcase"></i> Departamento</p>
                                <p id="CorreoUsu"><i class="fa fa-envelope"></i> Correo</p>
                                <p id="ExtUsuario"><i class="fa fa-phone"></i> Extension</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        ¿Es Gerente?
                                    </label>
                                </div>
                                
                                <i class="fa fa-users" aria-hidden="true"> </i> Rol de Usuario
                                <select id="inputState" class="select-rol">
                                    <option selected>Choose...</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
                

            </div>

        </div>
        <!-- Card -->
        </div>
    </div>